.google-map {
    height: 100px;
    width: 500px;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 1rem;
  }
  
  .pin-text {
    font-size: 1rem;
  }
  
  @media screen and (min-width: 1050px) {
    .google-map {
      height: 40vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  }