.react-calendar {
  width: 100%;
  line-height: 5em;
}
.react-calendar--doubleView {
  width: 100%;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  /* margin: -0.5em; */
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 80%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0 auto;
  border: none;
  width: 50px;
  height: 50px;
  outline: none;
  font-family: "AvenirMedium";
  font-size: 20px;
}
.react-calendar button:enabled:hover {
  margin: 0 auto;
  cursor: pointer;
}
.react-calendar__navigation {
  height: 2em;
  margin-bottom: 1em;
  font-family: "AvenirMedium";
  font-size: 20px;
}
.react-calendar__navigation button {
  width: 3em;
  height: auto;
  background: none;
  color: white;
  font-family: "AvenirMedium";
  font-size: 20px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: white;
  background-color: #52330d;
  border-radius: 50%;
}
.react-calendar__navigation button[disabled] {
  background-color: #52330d;
  border-radius: 0%;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: "AvenirMedium";
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.1em;
  color: white;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
  color: white;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  width: 70px;
  height: 70px;
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
  width: 70px;
  height: 70px;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  width: 70px;
  height: 70px;
}
.react-calendar__tile {
  text-align: center;
  background: none;
  border-radius: 100%;
  margin: auto auto;
  color: white;
}
.react-calendar__tile:disabled {
  background-color: gray;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #52330d;
}
.react-calendar__tile--now {
  background-color: #b28d42;
  border: 2px solid white;
  color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #b28d42;
  border: 2px solid white;
  color: white;
}
.react-calendar__tile--hasActive {
  background: #52330d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #52330d;
}
.react-calendar__tile--active {
  background: white;
  color: #b28d42;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white;
  color: #b28d42;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
