.navbar {
  color: #8d6f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}
.nav-center {
  width: 100%;
  display: flex;
}
.navbar-logo {
  justify-self: start;
  cursor: pointer;
  margin-left: 150px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: start;
  color: #8d6f1a;
  margin-top: 3.5rem;
}

.log-in {
  color: #8d6f1a;
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  justify-content: end;
  width: 100%;
  margin-right: 2rem;
  margin-top: 3.5rem;
}
.login {
  margin-top: 10px;
}

.nav-links a {
  color: #8d6f1a;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links a:hover {
  color: #d3a625;
  text-decoration: none;
}

.nav-links a:active {
  color: #d3a625;
}
.nav-links a:target {
  color: #d3a625;
}
.active a:hover {
  color: #d3a625;
}
