.NavbarItems {
  color: #8d6f1a;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
  margin-right: 2rem;
  justify-content: start;
  color: #8d6f1a;
}

.log-in {
  color: #8d6f1a;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  list-style: none;
  justify-content: end;
  width: 100%;
  margin-right: 2rem;
}
.login {
  margin-top: 10px;
}
.nav-links a {
  color: #8d6f1a;
  text-decoration: none;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}
.icons {
  color: #8d6f1a;
  text-decoration: none;
}

.nav-links a:hover {
  color: #d3a625;
  text-decoration: none;
}
.icons:hover {
  color: #d3a625;
}

.nav-links a:active {
  color: #d3a625;
}
.nav-links a:target {
  color: #d3a625;
}
