.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.about {
  /* margin-left: 200px;
  margin-right: 200px; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}
.home {
  /* margin-left: 200px;
  margin-right: 200px; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
  padding-top: 50px;
  /* height: 329px;
    width: 679px; */
}
.contact {
  /* margin-left: 200px;
  margin-right: 200px; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}
.services {
  /* margin-left: 200px;
  margin-right: 200px; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}
.servicespage {
  /* margin-left: 0px;
  margin-right: 0px;
  margin: none; */
  margin: auto;
  /* background-color: white; */
}
.blog {
  margin-left: 200px;
  margin-right: 200px;
}
.fullblog {
  margin-left: 200px;
  margin-right: 200px;
}
.consulting {
  margin-left: 43px;
  margin-right: 43px;
  /* margin-left: 10rem; 
  margin-right: 10rem; */
}
/* .treatments {
  margin-left: 200px;
  margin-right: 200px;
  margin-left: 10rem; 
  margin-right: 10rem;
  display: flex;
  justify-content: center;
} */
.page-container {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-wrap {
  flex: 1;
}
.heading {
  font-size: 80px;
  text-align: center;
  font-style: italic;
  color: #8d6f1a;
}
