.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.Homepage {
  margin: 30px;
}
.about {
  margin-left: 200px;
  margin-right: 200px;
}
.home {
  margin-left: 200px;
  margin-right: 200px;
}
.contact {
  margin-left: 200px;
  margin-right: 200px;
}
.services {
  margin-left: 200px;
  margin-right: 200px;
}
.blog {
  margin-left: 200px;
  margin-right: 200px;
}
.blogpage {
  margin-left: 200px;
  margin-right: 200px;
}
.fullblog {
  margin-left: 200px;
  margin-right: 200px;
}
.consulting {
  margin-left: 200px;
  margin-right: 200px;
}
.treatments {
  margin-left: 200px;
  margin-right: 200px;
}
.page-container {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
.heading {
  font-size: 80px;
  text-align: center;
  font-style: italic;
  color: #8d6f1a;
}
